build:
  type: text
  content: |-
    #!/bin/sh

    # make all
    # docker build

    docker build -f ecserver/Dockerfile -t ecserver:$GIT_COMMIT_ID ecserver 
    docker tag ecserver:$GIT_COMMIT_ID  ecserver:$ROOST_NAMESPACE  
deploy:
  type: text
  content: |
    #/bin/sh

    export ROOST_CLUSTER_IP='3.110.67.253.nip.io'

    HELM_OPTS="--set clusterIP=${ROOST_CLUSTER_IP},tag=${ROOST_NAMESPACE},namespace=${ROOST_NAMESPACE}"


    helm install ecserver helm-vote -n ${ROOST_NAMESPACE} $HELM_OPTS
test: []
uninstall:
  type: text
  content: |-
    #!/bin/sh

    helm uninstall ecserver-$ROOST_NAMESPACE
dockerCompose: ''
lastUpdatedBy: Mayank Gaikwad
lastUpdatedOn: 2023-03-20T11:38:19.095Z
