build:
  type: text
  content: |
    #!/bin/sh

    # make all
    # docker build


    docker build -f ecserver/Dockerfile -t ecserver:$GIT_COMMIT_ID ecserver 
    docker tag ecserver:$GIT_COMMIT_ID  ecserver:$ROOST_NAMESPACE  

    docker build -f ecserver/Dockerfile -t ${ROOST_REGISTRY}/ecserver:$ROOST_NAMESPACE ecserver 

    docker push ${ROOST_REGISTRY}/ecserver:$ROOST_NAMESPACE
deploy:
  type: text
  content: |-
    #/bin/sh
    <<'###'
    Sample Deploy Instructions

    HELM_OPTS="--set clusterIP=${ROOST_CLUSTER_IP},tag=${ROOST_NAMESPACE},namespace=${ROOST_NAMESPACE}"

    helm install <helm-folder> -n <ns> $HELM_OPTS

    kubectl apply -f <file>.yaml
    ###

    HELM_OPTS="--set clusterIP=${ROOST_CLUSTER_IP},tag=${ROOST_NAMESPACE},namespace=${ROOST_NAMESPACE}"

    helm install ecserver-$ROOST_NAMESPACE helm-vote -n ${ROOST_NAMESPACE} $HELM_OPTS
test: []
uninstall:
  type: text
  content: |-
    #!/bin/sh

    helm uninstall ecserver-$ROOST_NAMESPACE
dockerCompose: ''
lastUpdatedBy: Mayank Gaikwad
lastUpdatedOn: 2023-03-20T11:26:51.197Z
