app_dependencies:
  type: text
  content: |
    #!/bin/sh

    # make all
    # docker build

    docker build -t ${ROOST_REGISTRY}/ecserver:${ROOST_NAMESPACE} ecserver

    docker build -f ecserver/Dockerfile -t ecserver:$GIT_COMMIT_ID ecserver 
    docker tag ecserver:$GIT_COMMIT_ID  ecserver:$ROOST_NAMESPACE  

    docker push ${ROOST_REGISTRY}/ecserver:${ROOST_NAMESPACE}
app_deploy:
  type: text
  content: |-
    #/bin/sh
    <<'###'
    Sample Deploy Instructions
    HELM_OPTS="--set clusterIP=${ROOST_CLUSTER_IP},tag=${ROOST_NAMESPACE},namespace=${ROOST_NAMESPACE}"

    helm install <helm-folder> -n <ns> $HELM_OPTS

    kubectl apply -f <file>.yaml
    ###

    HELM_OPTS="--set clusterIP=${ROOST_CLUSTER_IP},tag=${ROOST_NAMESPACE},namespace=${ROOST_NAMESPACE}"

    helm install helm-vote -n ${ROOST_NAMESPACE} $HELM_OPTS
app_test: []
app_uninstall:
  type: text
  content: |+
    #!/bin/sh

app_docker_compose: ''
lastUpdatedBy: Mayank Gaikwad
lastUpdatedOn: 2023-03-09T07:45:53.672Z
